

footer {
  background:rgb(115, 228, 70);
  bottom: 0;
  left: 0;
  padding: 20px 0;
  position: fixed;
  right: 0;
  text-align: start;
}

.container {
  height: 100%;
  display: table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: 100%;
}

.row {
  display: table-row;
  display: -moz-box;
}

.inner-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

/* 1. */
/*.row {
  *zoom: 1;
}*/
/* 2 */
/*main[role="main"] {
  height: 100%;
}*/
header[role="banner"] {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 70px;
  background:#262831;
  color: white;
}

main[role="main"] {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  height: auto;
}

footer[role="contentinfo"] {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  height: 20px;
  color: rgb(17, 85, 3);
  background:rgba(43, 46, 80, 0.973);
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
