<mat-sidenav-container>

    <mat-sidenav #sidenav [opened]="screenWidth > 1024" [mode]="(screenWidth > 1024) ? 'side' : 'over'">
        <app-coin-value></app-coin-value>
    </mat-sidenav>

    <mat-toolbar>
        <button id="menuButton" type="button" color="primary" mat-button (click)="sidenav.open()" [ngStyle]="{'display' : (screenWidth > 1024) ? 'none' : 'block'}">
            <i class="material-icons">menu</i>
        </button>
    </mat-toolbar>




    <router-outlet></router-outlet>

</mat-sidenav-container>