<mat-sidenav-container>

    <mat-sidenav #sidenav [opened]="screenWidth > 1024" [mode]="(screenWidth > 1024) ? 'side' : 'over'">
        <app-coin-value></app-coin-value>
    </mat-sidenav>

    <div [ngStyle]="{'display' : (screenWidth > 1024) ? 'none' : 'block'}">
        <button class="MenuButton"  type="button" color="primary" mat-button (click)="sidenav.open()">
            <i class="material-icons">menu</i>
        </button>
    </div>

    <router-outlet></router-outlet>

</mat-sidenav-container>